* text=auto
*.html text eol=lf
*.mjs text eol=lf
*.js text eol=lf
*.json text eol=lf
*.css text eol=lf
*.yml text eol=lf
*.md text eol=lf
*.py text eol=lf
*.dzi text eol=lf
*.png binary
*.jpg binary
*.jpeg binary
*.webp binary
*.mp4 binary
*.pdf binary
